/* Variables and mixins from the src/variables.scss file are available here without importing. Reset is here otherwise using lang='scss' in a local <style> tag will reset global styles in that component. */
@forward "reset";

/* Horizontal constraints for readability, using an exception-based approach */
* {
  // max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
// article,
pre,
footer {
  max-inline-size: none;
}

/* Default global styles */

body {
  background-color: var(--theme-surface1);
  color: var(--theme-text-body);
  font-family: "Inter", var(--system-ui);
  font-weight: 400;
  font-size: var(--fs-0);
}

a {
  color: var(--color-secondary-600);
  color: var(--theme-text2);
  font-weight: 600;
  text-decoration-thickness: 2px;
}

:is(button, a):focus-visible {
  outline: 2px solid var(--color-primary-200);
}

p,
li {
  line-height: 1.5;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-text-heading);
  line-height: 1.2;
}

/* Elements */

button {
  border: none;
  background: none;
}

.button {
  background-color: var(--button-background, var(--reef-turquoise));
  color: var(--button-text, var(--wharf-blue));
  border-radius: var(--space-s);
  padding: var(--space-xs) var(--space-m);
  min-height: var(--space-xl);
  text-decoration: none;
  font-size: var(--fs-0);
  font-family: var(--ff-heading);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  transition: var(--background-transition);
}

.button[data-type="secondary"] {
  --button-background: var(--color-secondary-100);
  --button-background-hover: var(--color-secondary-200);
  --button-text: var(--color-secondary-900);
}

.button:is(:hover, :focus-visible) {
  background-color: var(--button-background-hover, var(--color-secondary-400));
}

hr {
  border: var(--border-style);
}

.sidebar {
  & ul {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: var(--space-xl);
    list-style: none;
    margin-block-end: var(--space-xl);
    padding-inline-start: var(--space-s);
  }

  & li {
    display: flex;
  }

  & li > * {
    flex: 1;
    padding-block: var(--space-xs);
    color: var(--color-secondary-500);
  }
}

::selection {
  background-color: var(--seafoam-mint);
  color: var(--color-primary-900);
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  cursor: pointer;
  margin: var(--space-s);
  padding: var(--space-xs);
  border: var(--border-style);
  border-radius: var(--space-xs);
  opacity: 0%;
  transition: opacity 100ms ease-out;
}

pre:hover > .copy-button {
  opacity: 30%;
}

pre:hover > .copy-button:hover {
  opacity: 80%;
}

.copy-button:active {
  scale: 90%;
}

blockquote {
  background-color: var(--color-secondary-50);
  border-inline-start: 0.25em solid var(--color-secondary-200);
  padding-block: var(--s0);
  padding-inline: var(--s1);
}
