:root {
  /* Brand Colors */
  --wharf-blue-rgb: 73, 78, 98;
  --wharf-blue: hsl(228, 15%, 34%);
  --reef-turquoise: hsl(166, 69%, 69%);
  --seafoam-mint: #b2f2e1;
  --swell-mist: hsl(120, 37%, 97%);

  --hue-wharf: 228;
  --hue-reef: 166;
  --hue-mist: 120;

  /* Primary */
  --color-primary-50: hsl(220, 20%, 97%);
  --color-primary-100: hsl(240, 12%, 94%);
  --color-primary-200: hsl(229, 15%, 86%);
  --color-primary-300: hsl(224, 14%, 74%);
  --color-primary-400: hsl(224, 15%, 60%);
  --color-primary-500: hsl(225, 13%, 48%);
  --color-primary-600: hsl(229, 14%, 39%);
  --color-primary-700: hsl(228, 15%, 34%); // Wharf Blue
  --color-primary-800: hsl(227, 14%, 27%);
  --color-primary-900: hsl(227, 11%, 24%);

  /* Secondary */
  --color-secondary-50: hsl(164, 65%, 97%);
  --color-secondary-100: #cdf9ec;
  --color-secondary-200: var(--seafoam-mint);
  --color-secondary-300: var(--reef-turquoise);
  --color-secondary-400: #35ccae;
  --color-secondary-500: #1cb095;
  --color-secondary-600: #148d79;
  --color-secondary-700: #147163;
  --color-secondary-800: #155a51;
  --color-secondary-900: #164b43;

  /* Accent */
  --color-accent-50: var(--swell-mist);
  --color-accent-100: #e4f4e5;
  --color-accent-200: #cae8cc;
  --color-accent-300: #a1d4a3;
  --color-accent-400: #70b874;
  --color-accent-500: #4c9b51;
  --color-accent-600: #3a7f3e;
  --color-accent-700: #306534;
  --color-accent-800: #2a512d;
  --color-accent-900: #244326;

  /* Neutrals */
  --color-neutral-100: #f7f7f7;
  --color-neutral-200: #e3e3e3;
  --color-neutral-300: #c8c8c8;
  --color-neutral-400: #a4a4a4;
  --color-neutral-500: #818181;
  --color-neutral-600: #666666;
  --color-neutral-700: #515151;
  --color-neutral-800: #434343;
  --color-neutral-900: #383838;

  // Text
  --text-color: var(--wharf-blue);
}
