article > * {
  margin-block-start: var(--space-m);
}

article h1 {
  line-height: var(--space-xl);
  margin-block-start: var(--space-s);
}

article :is(h2, h3) {
  margin-block-start: var(--space-xl);
  scroll-margin-top: var(--space-l);
}

article h3 {
  scroll-margin-top: var(--space-m);
}

article :is(h4, h5, h6) {
  margin-block-start: var(--space-l);
}

/* Tighten headers directly following h1, h2 */

article :is(h1, h2) + :is(h2, h3, h4, h5, h6) {
  margin-block-start: var(--space-m);
}

/* Tighten content following a subheader */

article h3 + * {
  margin-block-start: var(--space-m);
}

article h4 + * {
  margin-block-start: var(--space-s);
}

article :is(h5, h6) + * {
  margin-block-start: var(--space-xs);
}

article li:not(:first-child) {
  margin-block-start: var(--space-3xs);
}

article :is(ul, ol) {
  margin-block-start: var(--space-m);
}

article img {
  border-radius: var(--border-radius);
  max-width: 100%;
  margin-inline: auto;
}

article tbody tr:nth-child(odd) {
  background-color: var(--color-secondary-50);
  border-radius: var(--border-radius);
}

article table {
  width: 100%;
  table-layout: fixed;
}

article ::target > h2 {
  margin-block-start: var(--space-2xl);
}
