/**
 * Lucario Theme originally by Raphael Amorim [@raphamorim]
 * https://github.com/raphamorim/lucario
 *
 * Ported for PrismJS by Christopher Kapic [@christopher-kapic]
 */

code,
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Monaco, Consolas, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-wrap: break-word;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  letter-spacing: normal;
}

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  padding: var(--space-m);
  word-break: break-all;
  /* margin: 0.5em 0; */
  overflow: auto;
  border-radius: var(--space-s);
  background: #263e52;
  /* max-width: 100%; */
  /* margin-block: var(--space-m); */
}

/* Inline code */
:not(pre) > code[class*="language-"],
:not(pre) > code {
  background: var(--color-primary-100);
  color: var(--text-color);
  text-shadow: none;
  padding-block: 0.125em;
  padding-inline: 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c98cd;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f05e5d;
}

.token.boolean,
.token.number {
  color: #bc94f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #fcfcd6;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #66d8ef;
}

.token.keyword {
  color: #6eb26e;
}

.token.regex,
.token.important {
  color: #f05e5d;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
