:root {
  /* brand foundation */
  --brand-hue: 166;
  --brand-saturation: 69%;
  --brand-lightness: 69%;

  /* light */
  --brand-light: var(--color-secondary-300);
  --text1-light: black;
  --text2-light: var(--color-secondary-600);
  --text3-light: var(--color-neutral-500);
  --surface1-light: white;
  --surface2-light: var(--color-accent-50);
  --surface3-light: var(--color-secondary-300);
  --surface4-light: var(--color-secondary-500);
  --surface5-light: var(--color-secondary-700);
  --border1-light: var(--color-accent-50);
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: 0.02;

  /* dark */
  --brand-dark: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5)
  );
  --text1-dark: white;
  --text2-dark: var(--color-secondary-400);
  --text3-dark: var(--color-primary-900);
  --surface1-dark: #151720;
  --surface2-dark: #494e62;
  --surface3-dark: var(--color-primary-500);
  --surface4-dark: var(--color-primary-400);
  --surface5-dark: var(--color-secondary-200);
  --border1-dark: var(--color-primary-900);
  --surface-shadow-dark: 227 10% 16%;
  --shadow-strength-dark: 0.8;
}

:root {
  color-scheme: light;

  /* set defaults */
  --theme-brand: var(--brand-light);
  --theme-text1: var(--text1-light);
  --theme-text2: var(--text2-light);
  --theme-text3: var(--text3-light);
  --theme-surface1: var(--surface1-light);
  --theme-surface2: var(--surface2-light);
  --theme-surface3: var(--surface3-light);
  --theme-surface4: var(--surface4-light);
  --theme-surface5: var(--surface5-light);
  --theme-border1: var(--border1-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --theme-brand: var(--brand-dark);
    --theme-text1: var(--text1-dark);
    --theme-text2: var(--text2-dark);
    --theme-text3: var(--text3-dark);
    --theme-surface1: var(--surface1-dark);
    --theme-surface2: var(--surface2-dark);
    --theme-surface3: var(--surface3-dark);
    --theme-surface4: var(--surface4-dark);
    --theme-surface5: var(--surface5-dark);
    --theme-border1: var(--border1-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

[data-theme="light"] {
  color-scheme: light;

  --theme-brand: var(--brand-light);
  --theme-text1: var(--text1-light);
  --theme-text2: var(--text2-light);
  --theme-text3: var(--text3-light);
  --theme-surface1: var(--surface1-light);
  --theme-surface2: var(--surface2-light);
  --theme-surface3: var(--surface3-light);
  --theme-surface4: var(--surface4-light);
  --theme-surface5: var(--surface5-light);
  --theme-border1: var(--border1-light);

  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[data-theme="dark"] {
  color-scheme: dark;

  --theme-brand: var(--brand-dark);
  --theme-text1: var(--text1-dark);
  --theme-text2: var(--text2-dark);
  --theme-text3: var(--text3-dark);
  --theme-surface1: var(--surface1-dark);
  --theme-surface2: var(--surface2-dark);
  --theme-surface3: var(--surface3-dark);
  --theme-surface4: var(--surface4-dark);
  --theme-surface5: var(--surface5-dark);
  --theme-border1: var(--border1-dark);

  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}
