:root {
  /* brand foundation */
  --hue-wharf: 228;
  --hue-reef: 166;
  --hue-mist: 120;
}

@mixin theme-light {
  color-scheme: light;
  --theme-text1: black;
  --theme-text2: var(--color-secondary-600);
  --theme-text3: var(--color-neutral-500);
  --theme-text4: black;

  --theme-text-heading: var(--color-primary-800);
  --theme-text-heading-inverse: white;
  --theme-text-body: var(--color-neutral-900);
  --theme-text-body-inverse: var(--color-neutral-300);

  --theme-text-link: #0a836f;
  --theme-text-link-hover: #1cb095;
  --theme-text-link-visited: #7a4578;

  --theme-surface1: white;
  --theme-surface2: var(--color-secondary-50);
  --theme-surface2-hover: var(--color-secondary-100);
  --theme-surface3: var(--color-secondary-300);
  --theme-surface4: var(--color-secondary-500);
  --theme-surface5: var(--color-secondary-700);
  --theme-surface6: #ededf1;
  --theme-surface7: white;
  --theme-surface8: var(--swell-mist);
  --theme-surface9: hsl(120 37% 99% / 0.8);

  --sidebar-item-color: var(--color-secondary-600);

  --theme-border1: hsla(0 0% 0% / 0.2);
  --theme-border2: hsla(0 0% 0% / 0.1);

  // Logo
  --logo-text: var(--wharf-blue);
  --logo-bottom: var(--swell-mist);
  --logo-middle: var(--seafoam-mint);
  --logo-top: var(--reef-turquoise);

  // Header
  --theme-header-background: white;
  --theme-header-text: var(--wharf-blue);
  --theme-nav-toggle-background: var(--reef-turquoise);
  --theme-nav-toggle-foreground: var(--theme-header-text);
  --theme-nav-background: white;
  --theme-nav-item-hover: var(--swell-mist);

  // Footer
  --theme-footer-background: white;
  --theme-footer-text: black;
}

@mixin theme-dark {
  color-scheme: dark;

  --theme-text1: white;
  --theme-text2: var(--color-secondary-400);
  --theme-text3: var(--color-primary-900);
  --theme-text4: var(--reef-turquoise);

  --theme-text-heading: white;
  --theme-text-heading-inverse: var(--wharf-blue);
  --theme-text-body: var(--color-neutral-300);
  --theme-text-body-inverse: var(--color-neutral-900);

  --theme-text-link: #35ccae;
  --theme-text-link-hover: #b2f2e1;
  --theme-text-link-visited: #f8b9ff;

  --theme-surface1: hsl(228, 15%, 18%);
  --theme-surface2: #262936;
  --theme-surface2-hover: var(--color-primary-900);
  --theme-surface3: var(--color-primary-500);
  --theme-surface4: var(--color-primary-400);
  --theme-surface5: var(--color-secondary-200);
  --theme-surface6: #383838;
  --theme-surface7: #14161f;
  --theme-surface8: var(--swell-mist);
  --theme-surface9: hsl(228, 15%, 18%);

  --sidebar-item-color: var(--color-primary-100);

  --theme-border1: hsla(0 0% 100% / 0.2);
  --theme-border2: hsla(0 0% 100% / 0.1);

  // Logo
  --logo-text: white;
  --logo-bottom: var(--reef-turquoise);
  --logo-middle: var(--seafoam-mint);
  --logo-top: var(--swell-mist);

  // Header
  --theme-header-background: var(--wharf-blue);
  --theme-header-text: white;
  --theme-nav-toggle-background: var(--reef-turquoise);
  --theme-nav-toggle-foreground: var(--wharf-blue);
  --theme-nav-background: var(--wharf-blue);
  --theme-nav-item-hover: var(--color-primary-800);

  // Footer
  --theme-footer-background: hsl(var(--hue-wharf) 21% 10%);
  --theme-footer-text: white;
}

:root {
  @include theme-light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }
}

[data-theme="light"] {
  @include theme-light;
}

[data-theme="dark"] {
  @include theme-dark;
}
