/* ====
  Fonts
======= */

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

/* ====
  Scale
 @link https://utopia.fyi/type/calculator?c=320,16,1.2,1140,24,1.25,4,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l 
======= */

:root {
  --fs-200: clamp(0.58rem, calc(0.5rem + 0.37vw), 0.77rem);
  --fs-300: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
  --fs-400: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.2rem);
  --fs-500: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
  --fs-600: clamp(1.2rem, calc(0.94rem + 1.32vw), 1.88rem);
  --fs-700: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
  --fs-800: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
  --fs-900: clamp(2.07rem, calc(1.45rem + 3.1vw), 3.66rem);
}

html {
  color: var(--color-text);
  font-family: "Montserrat";
  font-weight: 400;
}

body {
  font-size: var(--fs-400);
}

a {
  color: var(--color-primary-600);
  font-weight: 600;
}
