/* Variables and mixins declared in this file will be available in all other SCSS files. Colors, typography, and utilities are broken out into their own files for readability. */

@forward "colors";
@forward "typography";
@forward "utilities";
@forward "layout";
@forward "theme";

:root {
  /* Spacing */
  --ratio: 1.5;
  --measure: 75ch;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* Styles */
  --border-style: var(--swell-mist) 2px solid;
  --border-style: var(--border1) 2px solid;

  --background-transition: background-color 200ms ease-out;

  --line-height: var(--s2);
}
