/* Variables and mixins declared in this file will be available in all other SCSS files. Colors, typography, and utilities are broken out into their own files for readability. */

@forward "colors";
@forward "typography";
@forward "utilities";
@forward "layout";
@forward "theme";
@forward "spacing";

:root {
  /* Styles */
  --measure: 75ch;
  --border-style: var(--swell-mist) 2px solid;
  --border-style: var(--border1) 2px solid;

  --background-transition: background-color 200ms ease-out;
  --line-height: var(--space-l);
  --max-inline-size: 1440px;

  --page-background-gradient: linear-gradient(
      180deg,
      #494e62 0%,
      #7be7ce 66.15%,
      #b2f2e1 84.37%,
      #f4faf4 100%
    ),
    var(--swell-mist);
  --page-background-size: 100% calc(var(--space-8xl) * 5), 100%;
  --page-background-position: 0 0, 0 0;
  --page-background-repeat: no-repeat;
}
